{
  "global": {
    "eval": false,
    "pullanddeploy": false,
    "setUsername": false,
    "cmdauth": false
  },
  "users": {
    "12300000000000004": {
      "eval": true,
      "cmdauth": true,
      "*": true
    },
    "56700000000000008": {
      "eval": false,
      "say": false,
      "cmdauth": false,
      "year_fact": false
    }
  }
}
